/*============================================================================================
==============================================================================================
RESPONSIVE STYLE
==============================================================================================
=============================================================================================*/


/* ###########################################################################################
lg layout
##############################################################################################*/

@media (min-width: 1201px) {

}

/* ###########################################################################################
md layout
##############################################################################################*/

@media (min-width: 993px) and (max-width: 1200px) {

}

/* ###########################################################################################
sm layout
##############################################################################################*/
@media (min-width: 769px) and (max-width: 992px) {

}


/* ########################################################################################### 
xs layout 
##############################################################################################*/
@media (max-width: 768px) {
 .mainnav{
  width: 100%;
  background: rgba(0, 0, 0, 0.54);
  z-index: 10000;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;

 }
 .mainnav li{
  width: 100%;
 }
 .mainnav li a{
  text-align: center;
  margin: 4px 0px 0 0px;
  padding: 10px 0 10px 0;
 }
 .topText {
  float: none;
 }
 .topText h1{
  font-size: 68px;
  margin: 8px 0 0 6px;
 }
 .topText p{
  font-size: 29px;
  margin: 10px 0 0 11px;
 }
 .topText a{
  margin: 170px 0 0 82px;
 }
 .item a{

 }
 .item h1{
  font-size: 24px;
  left: 57px;
 }
 .item p{
  font-size: 10px;
  margin: 0 0 0 6px;
 }
 .middle{
  height: auto;
 }
 .top{
  height:90vh;
 }
 .para{
  font-size: 26px;
  margin: 46px 0 25px -3px;
 }
 .image5 {
  height: 290px;
 }
 .img-small{
  width: 100%;
  margin: 62px 0 0 0;
 }
 .ti-instagram {


 }
 .insta {


 }
 .big-heading{

 }
 .image6 {
  width: 100%;
  margin: 48px 0 0 0;
 }
 .name {
  margin: -14px 0 0 138px;
 }
 .bar {
  margin: -12px 0 0 89px;
 }
 .form h2{
  margin: -38px 0 18px 0;
 }
 .form p{
  margin: 7% 0 7% 23%;
  width: 54%;
 }
 .form input{
  width: 70%;
 }
 .form button{
  width: 20%;
 }
 .footer h2{
  margin: 10% 0 0 0;
 }

 }


/* ########################################################################################### 
xxs layout
##############################################################################################*/

@media (max-width: 480px) {
 .topText p {
  font-size: 21px;
  text-align: center;

 }

 .topText h1 {
  font-size: 49px;
  text-align: center;

 }

 .topText a {
  margin: 120px auto;
  display: table;
  background-color: rgba(0, 0, 0, 0.59);

 }

 .item a {
  left: 26%;
 }
 .insta {
  font-size: 14px;
  margin: 20px 16px;
 }
 .ti-instagram {
  margin: 22px -3px 0 29px;
 }
 .big-heading {
  font-size: 30px;
  margin: 10px 0 0 34px;
  /* text-align: center; */
  line-height: 34px;
  /* margin-top: 35px; */
 }
 .bar {
  margin: 16px 0 0 67px;
 }
 .name {
  margin: -21px 0 0 116px;
 }
 .user-bar {
  margin-bottom: 10px;
 }
 .form button {
  width: 26%;
 }

}