@charset "UTF-8";

@import url("reset.css");
@import url("responsive.css");
@import url("themify-icons.css");

/*============================================================================================
==============================================================================================

CONTENTS :
    *   1. General
        2. Top Section
        3. Navigation
        4. Middle Section
        5. Middle Section




==============================================================================================
=============================================================================================*/


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            1. General 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
body{
    font-family: 'Open Sans', sans-serif;
}
#main-container-scroller{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #5eb6de;
}
.no-space{
    margin: auto 0;
    padding-left: 0 ;
    padding-right: 0;
}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            2. Top Section
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.top{
    background-image: url("../images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

.topText{
    vertical-align: middle;
    display: table-cell;
    height: calc(100vh - 100px);
}
.topText h1{
    font-weight: bold;
    color:#06f7c3;
    font-size: 101px;
}

#v2{
    font-weight: initial;
    margin: 0 0 0 8px;

}
.topText p{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 0 8px;
    letter-spacing: 1px;
}
.topText a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid #fff;
    padding: 12px 20px;
    margin: 15px 0 0 0;
    display: inline-block;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            3. Navigation
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
.navigation{
    border-bottom: 2px solid rgba(255,255,255, 0.2);
}
.mainlogo{
    margin: 15px 0;
    height: 60px;
}

.mainnav li{
    display: inline-block;
}

.mainnav li a{
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    letter-spacing: 2px;
    margin: 25px 10px 0 10px;
    font-weight: 800;
    display: block;
    padding: 20px 0 32px 0;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: all 0.8s ease;
}
.mainnav li a:hover{
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color:#fff;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            4. Middel Section
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.middle{
    background-color: #fff;
    height:100vh;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.item a{
    position: absolute;
    top: 40%;
    left: 15%;
    margin: 20px;
    color: #fff;
    border: 2px solid;
    padding: 10px;
}
.item p{
    position: absolute;
    top: 27%;
    left: 4%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.item h1{
    position: absolute;
    top: 40%;
    left: 4%;
    color: #fff;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;

}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            5. Owl Crousel
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.animated  {
    -webkit-animation-duration : 1000ms  ;
    animation-duration : 1000ms  ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
}
/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
    z-index : 1
}
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
    z-index : 0
}
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut  {
    -webkit-animation-name : fadeOut  ;
    animation-name : fadeOut  ;
}
@-webkit-keyframes  fadeOut  {
    0% {
        opacity : 1   ;
    }
    100% {
        opacity : 0   ;
    }
}
@keyframes  fadeOut  {
    0% {
        opacity : 1   ;
    }
    100% {
        opacity : 0   ;
    }
}


