@charset "UTF-8";

@import url("reset.css");
@import url("themify-icons.css");

/*============================================================================================
==============================================================================================

CONTENTS :
    *   1. General
        2. Top Section
        3. Navigation
        4. Middle Section
        5. Owl Crousel
        6. Middle1 Section
        7. About
        8. Boosted
        9. Sign Up Form
        10. Footer



==============================================================================================
=============================================================================================*/


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            1. General 
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
body{
    font-family: 'Open Sans', sans-serif;
}

#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #5eb6de;
}
.no-space{
    margin: auto 0;
    padding-left: 0 ;
    padding-right: 0;
}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            2. Top Section
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.top{
    background-image: url("../images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

}

.topText{
    vertical-align: middle;
    display: table-cell;
    height: calc(100vh - 100px);
}
.topText h1{
    font-weight: bold;
    color:#06f7c3;
    font-size: 101px;
}

#v2{
    font-weight: initial;
    margin: 0 0 0 8px;

}
.topText p{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    margin: 0 0 0 8px;
    letter-spacing: 1px;
}
.topText a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border: 2px solid #fff;
    padding: 12px 20px;
    margin: 15px 0 0 0;
    display: inline-block;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            3. Navigation
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
.navigation{
    border-bottom: 2px solid rgba(255,255,255, 0.2);
}
.mainlogo{
    margin: 15px 0;
    height: 60px;
}

.mainnav li{
    display: inline-block;
}

.mainnav li a{
    color: rgba(255,255,255,0.8);
    font-size: 12px;
    letter-spacing: 2px;
    margin: 25px 10px 0 10px;
    font-weight: 800;
    display: block;
    padding: 20px 0 32px 0;
    border-bottom: 1px solid rgba(0,0,0,0);
    transition: all 0.8s ease;
}
.mainnav li a:hover{
    border-bottom: 1px solid #fff;
    text-decoration: none;
    color:#fff;
}
.icon-bar{
    background-color: #fff !important;
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            4. Middel Section
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.middle{
    background-color: #fff;
    height:80vh;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.item a{
    position: absolute;
    top: 40%;
    left: 15%;
    margin: 20px;
    color: #fff;
    border: 2px solid;
    padding: 10px;
}
.item p{
    position: absolute;
    top: 27%;
    left: 4%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.item h1{
    position: absolute;
    top: 40%;
    left: 4%;
    color: #fff;
    font-size: 90px;
    font-weight: bold;
    text-transform: uppercase;

}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            5. Owl Crousel
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.animated  {
    -webkit-animation-duration : 1000ms  ;
    animation-duration : 1000ms  ;
    -webkit-animation-fill-mode : both  ;
    animation-fill-mode : both  ;
}
/* .owl-animated-out - only for current item */
/* This is very important class. Use z-index if you want move Out item above In item */
.owl-animated-out {
    z-index : 1
}
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
    z-index : 0
}
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */
.fadeOut  {
    -webkit-animation-name : fadeOut  ;
    animation-name : fadeOut  ;
}
@-webkit-keyframes  fadeOut  {
    0% {
        opacity : 1   ;
    }
    100% {
        opacity : 0   ;
    }
}
@keyframes  fadeOut  {
    0% {
        opacity : 1   ;
    }
    100% {
        opacity : 0   ;
    }
}


/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            6.  Middle1 Section
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.headpara h2 {
    text-align: center;
    margin: 5px 0 0 0;
    color: #847474;
    font-weight: bold;
    font-size: 26px;
}
.headpara p{
    text-align: center;
    font-size: 13px;
    margin: 18px 0 10px 0;
    font-weight: 600;
    color: #847474;
}
.img-large{
    overflow: hidden;
    background-color: black;
}
.img-large img{
    opacity: 1;
    transform: scale(1.2);
    transition: all 0.6s;
}
.img-large:hover img{
   opacity: 0.4;
   transform: scale(1);
}
.img-small{
    overflow: hidden;
    background-color: black;
}
.img-small img{
    opacity: 1;
    transform: scale(1);
    transition: all 0.6s;
}
.img-small:hover img{
    opacity: 0.4;
    transform: scale(1.2);
}

.para {
    text-align: center;
    color: #847474;
    font-weight: bold;
    font-size: 27px;
    margin: 94px 0 0 71px;
}

.image5{
    height: 532px;
}
.big-heading{
    color: #847474;
    font-weight: bold;
    font-size: 90px;
    text-transform: capitalize;
    margin-left: 13px;
    display: inline-block;
}
.bar{
    height: 2px;
    width: 25px;
    background-color: #847474;
    display: inline-block

}
.name{
    font-size: 16px;
    display: inline-block;
    margin-left: 8px;
}
.image6{
    width: 75%;
    margin: 61px 0 0 0;
}

.insta{
    float: left;
    margin: 78px 0 0 8px;
    font-size: 16px;
    color: #847474;
    text-transform: uppercase;
}
.insta b{
    font-weight: bold;
    font-size: 17px;
}
.instadata{
    width: 100%;
    margin-top: 25%;
}
.instadata p{
    display: inline-block;
    margin-left: 11px;
}
.instadata span{
    display: inline-block;
    padding-top: 0px;
}
.drop{
    width: 100%;
    margin-left: 7px;
}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            7. About
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
.about{
    background-color: #e8e8e8;
}

.about-heading{
    margin: 15px 0 0 0;
    font-size: 25px;
    font-weight: bold;
    color: #847474;

}

.ti-user{
    display: block;
    margin: 60px 0 0 0;
    font-size: 35px;
}
.links{
    font-size: 14px;
    font-weight: 600;
    padding: 20px;
    display: inline-block;
    margin: -9px 0 0 -12px;
    color: #847474;
}
.user{
    width: 35%;

}
.user-name{
    color: #847474;
    font-size: 20px;
    font-weight: 800;
    margin: 25px 0 0 0;
}
.location{
    margin: 15px 0 0 0;
    font-weight: 600;
}
.user-description{
    font-size: 12px;
    margin: 15px 10%;
    color: #696a6b;
    line-height: 18px;
    width: 80%;
    word-spacing: 3px;
}
.user-bar{
    display: block;
    height: 2px;
    width: 25px;
    background-color: #847474;
    margin: 0 0 0 174px;
}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            8. Boosted
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/
.boosted{
    margin: 0 0px 20px 0;
}

.boost-heading{
    margin: 40px 0 0 0;
    font-size: 25px;
    font-weight: bold;
    color: #847474;
}

.boost{
    margin: 40px 0 0 0;
}

.boost-image{
    border: 1px ;

}
.boost-image:hover{
    box-shadow: 10px 10px 5px #888888;
}

#boot3{
    height:234px;
}

#boot2{
    height:234px;
}
.boost h2{
    margin: 40px 0 0 0;
    font-weight: bold;
    font-size: 20px;
}
.boost p{
    font-size: 13px;
    margin: 15px 5%;
    color: #696a6b;
    line-height: 22px;
    width: 90%;
    word-spacing: 1px;
}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            9. Sign Up Form
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.form{
    background-color: #31363a;
    padding: 70px 0;
}
.form h2{
    margin: 0px 0 18px 0;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.form p{
    color: #868a8d;
    margin: 0 0 35px 0;
    font-size: 13px;
    font-weight: 700;
}
.form input{
    background-color: #2b3033;
    width: 60%;
    height: 50px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 14px;
}
.form button{
    height: 50px;
    width: 10%;
    background-color: #5a5e5f;
    border: none;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

/**********************************************************************************************
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                                            10. Footer
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
***********************************************************************************************/

.footer{
    background-color: #ffffff;
    padding:80px 0;
}
.footer a{
    display: block;
    color: #4b5052;
    margin: 27px 0 0 0;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
}
.footer h2{
    font-size: 18px;
    font-weight: 600;
    color: #7d7d7d;
}